{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Buscar{% endblock %}

{% block content %}

    <form method="get" action="{% url 'movie-search' %}" class="mb-4 grid grid-cols-8 gap-4">
        {% csrf_token %}
        
        <div class="col-span-full">
            <label for="title" class="block text-gray-700">Título</label>
            {{ form.title }}
        </div>

        <div class="col-span-4">
            <label for="genres" class="block text-gray-700">Gêneros</label>
            {{ form.genres }}
        </div>

        <div class="col-span-2">
            <label for="start_date" class="block text-gray-700">Data de Início</label>
            {{ form.start_date }}
        </div>

        <div class="col-span-2">
            <label for="end_date" class="block text-gray-700">Data de Fim</label>
            {{ form.end_date }}
        </div>

        <div class="col-span-2">
            <label for="min_rating" class="block text-gray-700">Avaliação Mínima</label>
            {{ form.min_rating }}
        </div>

        <div class="col-span-2">
            <label for="min_votes" class="block text-gray-700">Votos Mínimos</label>
            {{ form.min_votes }}
        </div>

        <div class="col-span-2">
            <label for="user_id" class="block text-gray-700">ID do Usuário</label>
            {{ form.user_id }}
        </div>

    <div class="col-span-2 self-end">
            <button type="submit" class="w-full px-4 py-2 bg-blue-500 text-white rounded-lg">Buscar</button>
        </div>
    </form>
    
    {% if movies %}
        <table class="min-w-full bg-white border border-gray-200 rounded-lg">
            <thead>
                <tr>
                    <th class="py-2 px-4 border-b">Título</th>
                    <th class="py-2 px-4 border-b">Gênero</th>
                    <th class="py-2 px-4 border-b">Ano de Lançamento</th>
                    <th class="py-2 px-4 border-b">Média de Avaliações</th>
                    <th class="py-2 px-4 border-b">Número de Avaliações</th>
                </tr>
            </thead>
            <tbody>
                {% for movie in movies %}
                    <tr>
                        <td class="py-2 px-4 border-b"><a href="{% url 'movie-detail' movie.movieId %}" class="text-blue-600 hover:underline">{{ movie.title }}</a></td>
                        <td class="py-2 px-4 border-b">{{ movie.genres }}</td>
                        <td class="py-2 px-4 border-b">{{ movie.release_date }}</td>
                        <td class="py-2 px-4 border-b">{{ movie.average_rating }}</td>
                        <td class="py-2 px-4 border-b">{{ movie.vote_count }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5" class="py-2 px-4 border-b text-center">Nenhum filme encontrado.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="mt-4">
            {% if page_obj.has_previous %}
                <a href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page=1" class="px-4 py-2 bg-gray-300 text-gray-700 rounded-lg">Primeira</a>
                <a href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page={{ page_obj.previous_page_number }}" class="px-4 py-2 bg-gray-300 text-gray-700 rounded-lg">Anterior</a>
            {% endif %}

            {% if page_obj.has_next %}
                <a href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page={{ page_obj.next_page_number }}" class="px-4 py-2 bg-gray-300 text-gray-700 rounded-lg">Próxima</a>
                <a href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page={{ page_obj.paginator.num_pages }}" class="px-4 py-2 bg-gray-300 text-gray-700 rounded-lg">Última</a>
            {% endif %}
        </div>
    {% else %}
        <p class="text-center">Nenhum filme encontrado.</p>
    {% endif %}

{% endblock %}