{% extends 'layout/base.html' %}

{% block title %}Enviar arquivos{% endblock %}

{% block content %}
    <div class="container mx-auto p-6 bg-white rounded-lg shadow-md">
        <h1 class="text-3xl font-semibold text-green-600 mb-4">Detalhes do Filme</h1>
        <div class="space-y-4">
            <div class="flex items-center">
                <span class="font-medium text-gray-700 w-48">Nome do Filme:</span>
                <span class="text-gray-900">{{ movie.file_name }}</span>
            </div>
            <div class="flex items-center">
                <span class="font-medium text-gray-700 w-48">Data de movie:</span>
                <span class="text-gray-900">{{ movie.movie_date }}</span>
            </div>
            <div class="flex items-center">
                <span class="font-medium text-gray-700 w-48">Tempo de Processamento:</span>
                <span class="text-gray-900">{{ movie.processing_time }}</span>
            </div>
            <div class="flex items-center">
                <span class="font-medium text-gray-700 w-48">Registros Inseridos:</span>
                <span class="text-gray-900">{{ movie.records_inserted }}</span>
            </div>
            <div class="flex items-center">
                <span class="font-medium text-gray-700 w-48">Registros com Falha:</span>
                <span class="text-gray-900">{{ movie.records_failed }}</span>
            </div>
        </div>
    </div>
{% endblock %}
    