{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Minha Aplicação{% endblock %}</title>
    <!-- Link para arquivos de estilo CSS -->
    {% tailwind_preload_css %}
    {% tailwind_css %}
    <!-- Outros arquivos de estilo ou scripts podem ser adicionados aqui -->
    {% block extra_head %}{% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            padding: 0;
            margin: 0;
        }
        body {
            background: #fff;
        }
    </style>
</head>
<body>
    {% include 'layout/header.html' %}

    <main class="w-full max-w-[1920px] m-auto px-[60px]">
        {% block content %}
        <!-- Conteúdo específico da página será inserido aqui -->
        {% endblock %}
    </main>

    {% include 'layout/footer.html' %}

    <!-- Scripts JavaScript -->
    {% block extra_scripts %}{% endblock %}
</body>
</html>
