{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Filmes{% endblock %}

{% block content %}

    <form method="get" action="{% url 'movie-search' %}" class="mb-4 grid grid-cols-8 gap-4">
        {% csrf_token %}
        
        <div class="col-span-full">
            <label for="title" class="block text-gray-700">Título</label>
            {{ search_form.title }}
        </div>

        <div class="col-span-4">
            <label for="genres" class="block text-gray-700">Gêneros</label>
            {{ search_form.genres }}
        </div>
    
        <div class="col-span-2">
            <label for="start_date" class="block text-gray-700">Data de Início</label>
            {{ search_form.start_date }}
        </div>
    
        <div class="col-span-2">
            <label for="end_date" class="block text-gray-700">Data de Fim</label>
            {{ search_form.end_date }}
        </div>
    
        <div class="col-span-2">
            <label for="min_rating" class="block text-gray-700">Avaliação Mínima</label>
            {{ search_form.min_rating }}
        </div>
    
        <div class="col-span-2">
            <label for="min_votes" class="block text-gray-700">Votos Mínimos</label>
            {{ search_form.min_votes }}
        </div>
    
        <div class="col-span-2">
            <label for="user_id" class="block text-gray-700">ID do Usuário</label>
            {{ search_form.user_id }}
        </div>
    
       <div class="col-span-2 self-end">
            <button type="submit" class="w-full px-4 py-2 bg-blue-500 text-white rounded-lg">Buscar</button>
        </div>
    </form>

    <div class="flex gap-1 flex-col">
    {% for movie in page_obj %}
        <div class="flex gap-1 h-[192px] border border-stone-400 rounded-lg overflow-hidden bg-white">
            <a href="{% url 'movie-detail' movie.movieId %}" class="flex">
                <div class="p-4 flex flex-col gap-4 content-center ">
                    <h2 class="font-bold text-lg">{{movie.title}}</h2>
                    <p class="text-black-400 text-sm">Gênero: {{ movie.genres }} </p>
                    <p class="text-black-400 text-sm">Avaliação:</p>
                    <p class="text-stone-400 text-sm">
                        {% for rating_movie in movie_ratings %}
                            {{ movie_rating.average_rating }}
                        {% endfor %}
                    </p>
                    <p class="text-black-400 text-sm">Data: {{ movie.timestamp }}</p>
                </div>
            </a>
        </div>
    {% endfor %}
    </div>
    
    <div class="flex flex-col gap-y-5 w-full">
        <div class="flex flex-col gap-y-5 w-full">
            <div class="flex justify-between items-center mt-4">
                <div class="pagination">
                    <span class="step-links flex items-center space-x-2">
                        {% if page_obj.has_previous %}
                            <a href="?page=1" class="px-3 py-2 text-sm text-green-600 bg-white border border-green-300 rounded-lg hover:bg-green-100 hover:text-green-800">&laquo; Primeiro</a>
                            <a href="?page={{ page_obj.previous_page_number }}" class="px-3 py-2 text-sm text-green-600 bg-white border border-green-300 rounded-lg hover:bg-green-100 hover:text-green-800">Anterior</a>
                        {% endif %}
    
                        <span class="current px-3 py-2 text-sm text-green-600 bg-white border border-green-300 rounded-lg">
                            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                        </span>
    
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}" class="px-3 py-2 text-sm text-green-600 bg-white border border-green-300 rounded-lg hover:bg-green-100 hover:text-green-800">Próximo</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}" class="px-3 py-2 text-sm text-green-600 bg-white border border-green-300 rounded-lg hover:bg-green-100 hover:text-green-800">Último &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
    
    
{% endblock %}