{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Filmes{% endblock %}

{% block content %}

    <!-- Movie Container -->
    
    <div class="flex flex-col gap-y-5 w-full">
        <div>
            filtros
            {{paginator}}
        </div>
        <!-- Movie Card -->
        {{ page_obj }}
        {% for movie in page_obj %}
            <div class="flex gap-x-4 h-[192px] border border-stone-400 rounded-lg overflow-hidden bg-white">
                <img src="https://m.media-amazon.com/images/M/MV5BMjMwNDkxMTgzOF5BMl5BanBnXkFtZTgwNTkwNTQ3NjM@._V1_FMjpg_UX1000_.jpg"
                alt="Imagem do filme" class=" h-[192px]">
                <div class="py-2 flex flex-col gap-4 content-center ">
                    <h2 class="font-bold text-lg">{{movie.title}}</h2>
                    <p class="text-stone-400 text-sm">Gênero: {{ movie.genres }} </p>
                    <p class="text-stone-400 text-sm">Avaliação:</p>
                    <!-- Definir a abordagem das estrelas -->
                    {% include 'components/stars.html' with star_count=3 %}
                    <p class="text-stone-400 text-sm">Data: {{ movie.timestamp }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    
    
{% endblock %}
