{% extends 'base.html' %}

{% block title %}Enviar arquivos{% endblock %}

{% block content %}
    <div class="container mx-auto p-6 bg-white rounded-lg shadow-lg max-w-lg">
        <h1 class="text-2xl font-bold text-gray-800 mb-6">Enviar Arquivo</h1>
        <form method="post" enctype="multipart/form-data" class="space-y-4">
            {% csrf_token %}
            <div class="mb-4">
                {{form}}
            </div>
            <button type="submit" class="w-full bg-green-600 text-white py-2 px-4 rounded-md shadow hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500">
                Upload
            </button>
        </form>
    </div>
{% endblock %}
