{% extends 'layout/base.html' %}

{% block title %}Enviar arquivos{% endblock %}

{% block content %}
    <div class="mt-[30px] border border-stone-400/50 rounded-lg p-[16px]">
        <h2 class="text-[22px] font-medium">Detalhes do envio:</h2>
        <div class="py-[24px] flex flex-col gap-[24px] text-stone-400 text-[18px]">
            <p>
                <strong class="text-black">Nome do Arquivo:</strong>
                {{ upload.file_name }}
            </p>
            <p>
                <strong class="text-black">Data de Upload:</strong>
                {{ upload.upload_date }}
            </p>
            <p>
                <strong class="text-black">Tempo de Processamento:</strong>
                {{ upload.processing_time }}
            </p>
            <p>
                <strong class="text-black">Registros Inseridos:</strong>
                {{ upload.records_inserted }}
            </p>
            <p>
                <strong class="text-black">Registros com Falha:</strong>
                {{ upload.records_failed }}
            </p>
        </div>
        <a href="{%url 'upload'%}" class="block mt-[16px] text-center bg-green-600 px-[22px] py-[11px] text-[18px] text-white rounded-[18px] w-[208px]">
            Voltar
        </a>
    </div>
{% endblock %}
    